.disableScroll {	
	height: calc(100% - 48px);
}
.checkBoxPopoverContentStyle{
	float:left;
    width: 50%;
}
.resetButtonPopoverStyle{
	width: 65px;
	height: 10px;
	
	margin-left : 5px;
	margin-right : 5px;
	margin-top : auto ;
	position: absolute; 
}
.searchFieldPopoverStyle{
	overflow-y : visible;
	margin-left : 5%;
	margin-right : 5%;
	width : 90%;
	position: absolute; 
}
.selectPopoverStyle{
	
	position: absolute;
}
.selectFieldPopoverStyle{
	position: relative;
	margin-left : 5%;

}
.inputFieldPopoverStyle{
	position: relative;
	margin-left : 5%;
}
.buttonFieldPopoverStyle{
	margin-left : 35%;
	margin-right : 35%;
	position: relative;
}
span[data-level="c"]{
	
}
span[data-level="p"]{
	margin-left:20px
}
span[data-level="s"]{
	margin-left:40px
}